*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
 	margin-top: 30px;
}
.email-input{
	padding-left: 0;
}

.email-input input {
	width: 100% !important;
}
.button-input{
	padding-right: 0;
}
.button-input button{
	width: 100%;
}

.email-button{
	position: absolute;
	top: 20%;
	right: 20px;


}
.list-group-item{
	position: relative;
}
